html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
       height: 90%;
    width: 100%;
    background-color: rgb(3, 142, 142);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    height: 100%;
}


//HEADER

.about-game{
    position: absolute;
    top: 64px;
    right: 28px;
    cursor: pointer;
    .hidden-info{
        display: none;
        width: 200px;
        top: 5px;
        right:55px;
        background-color:rgb(8, 155, 155);
        position: absolute;
        border-radius: 10px;
        z-index: 1000;
    }
    .info-icon{
        height: 50px;
        -webkit-filter: drop-shadow(1px 1px 0px #ff0000);
        filter:         drop-shadow(1px 1px 0px #ff0000); 
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
    }
    &:hover{
        .hidden-info{
            width: 250px;
            top: 5px;
            right:55px;
            background-color:rgb(0, 33, 33);
            display: inline-block;
            position: absolute;
            border-radius: 10px;
            z-index: 1000;
            &:hover{
                display: inline-block;
            }
            .info{
                padding: 10px;
                color: white;
                font-family: 'Luckiest Guy', cursive;
                text-shadow: 1px 1px 0px #ff0000;
            }
        }
    }
}

.highscore{
    position: absolute;
    font-size: 30px;
    top: 33px;
    right: 24px;
    color: white;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 1px 1px 0px #ff0000;
}

// MAIN_COMPONENT

.main-component{
    position: absolute;
    align-self: center;
    width: 75%;
    height: 75%;
    border-radius: 10px;
    z-index: 100;
    flex-shrink: 0;
    
    .header-info{
        height: 15%;
        text-align: center;
        transform: translateY(-52px);
        .game-title{
            font-family: 'Bangers', cursive;
            color: white;
            font-size: 100px;
            text-shadow: 2px 2px 0px #ff0000;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            .js{
                height: 20px;
                -webkit-filter: drop-shadow(1px 1px 0px #ff0000);
                filter:         drop-shadow(1px 1px 0px #ff0000); 
                transition: 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .made-by{
            font-family: 'Luckiest Guy', cursive;
            color: white;
            text-shadow: 1px 1px 0px #ff0000;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }

       
        }
    }
    .game-component{
        background-color: white;
        height: 85%;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377), 0 8px 16px rgba(0, 0, 0, 0.356);
    }
}

// FOOTER

.footer{
    
    width: 350px;
    text-align: center;
    position: absolute;
    
    bottom: -69px;
    .links{
        height: 100%;
        width: 100%;
        .github{
            height: 100px;
            padding-right: 5px;
            -webkit-filter: drop-shadow(1px 1px 0px #ff0000);
            filter:         drop-shadow(1px 1px 0px #ff0000); 
            transition: 0.3s;
        &:hover{
            transform: scale(1.1);
        }
        }
        .angel{
            height: 100px;
            padding-right: 5px;
            -webkit-filter: drop-shadow(1px 1px 0px #ff0000);
            filter:         drop-shadow(1px 1px 0px #ff0000); 
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
        }
        }
        .linked{
            height: 100px;
            padding-right: 5px;
            -webkit-filter: drop-shadow(1px 1px 0px #ff0000);
            filter:         drop-shadow(1px 1px 0px #ff0000); 
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    
    }
}