@import './variables.scss';


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    height: 90%;
    width: 100%;
    background-color: rgb(11, 12, 12);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    height: 100%;
}


//HEADER

.about-game{
    position: absolute;
    top: 94px;
    right: 28px;
    cursor: pointer;
    .hidden-info{
        display: none;
        width: 200px;
        top: 5px;
        right:55px;
        background-color:rgb(8, 155, 155);
        position: absolute;
        border-radius: 10px;
        z-index: 1000;
        transition: 0.3s;
    }
    .info-icon{
        height: 50px;
        -webkit-filter: drop-shadow(1px 1px 0px #1500ff);
        filter:         drop-shadow(1px 1px 0px #1500ff); 
        transition: 0.3s;
        &:hover{
            transform: scale(1.1);
            
        }
    }
   
    &:hover{
        .hidden-info{
            width: 250px;
            top: 5px;
            right:55px;
            background-color:rgb(0, 33, 33);
            display: inline-block;
            position: absolute;
            border-radius: 10px;
            z-index: 1000;
            box-shadow: 2px 2px 2px #1500ff, 2px 1px 44px #1500ff;

            &:hover{
                display: inline-block;
            }

            .info{
                padding: 20px;
                padding-top: 0;
                color: white;
                font-family: 'Luckiest Guy', cursive;
                text-shadow: 1px 1px 0px #1500ff;
            }
            .title{
                padding-bottom: 10px;
                text-decoration: underline;
                margin-left: 60px;
                padding-top: 20px;
                font-family: 'Bangers', cursive;
                text-shadow: 1px 1px 0px #1500ff;
                
            }
        }
    }
}
.score{
     position: absolute;
    font-size: 30px;
    top: 33px;
    right: 24px;
    color: white;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 1px 1px 0px #1500ff;

}

.highscore{
    position: absolute;
    font-size: 30px;
    top: 63px;
    right: 24px;
    color: white;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 1px 1px 0px #1500ff;
}

// MAIN_COMPONENT

.main-component{
    position: absolute;
    align-self: center;
    width: 75%;
    height: 75%;
    border-radius: 10px;
    z-index: 100;
    flex-shrink: 0;
    
    .header-info{
        height: 15%;
        text-align: center;
        transform: translateY(-52px);
        .game-title{
            font-family: 'Bangers', cursive;
            color: white;
            font-size: 100px;
            text-shadow: 2px 2px 0px #1500ff;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            .js{
                height: 20px;
                -webkit-filter: drop-shadow(1px 1px 0px #1500ff);
                filter:         drop-shadow(1px 1px 0px #1500ff); 
                transition: 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .made-by{
            font-family: 'Luckiest Guy', cursive;
            color: white;
            text-shadow: 1px 1px 0px #1500ff;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }

       
        }
    }
    .game-component{
         border: 1px solid white;
        border-color: white;
        border-width: thick;
        overflow: hidden;
        background-image: url("../images/planet.jpg");
        background-size: cover;
        height: 510px;
        width: 1090px;
        border-radius: 10px;
        margin: auto;
        box-shadow:2px 2px 2px #1500ff, 1px 1px 44px #1500ff;
        .start-game{
            border: 1px solid white;
            border-color: white;
            text-align: center;
            width: 300px;
            height: 120px;
            border-radius: 10px;
            background: black;
            position: absolute;
            transform: translate(393px, 160px);
            box-shadow: 2px 2px 2px #1500ff, 1px 1px 44px #1500ff;
            .start-game-instructions{
                position: relative;
                color: white;
                font-family: "Bangers", cursive;
                margin: auto;
                transform: translate(0px, 20px);
                margin-bottom: 10px;
                text-shadow: 1px 1px 0px #1500ff;
            }
            .start-button{
                align-self: center;
                transform: translate(0px, 20px);
                font-family: "Luckiest Guy", cursive;
                color: white;
                margin: auto;
                background: #4b5a96;
                box-shadow: 2px 2px 2px #1500ff, 2px 1px 44px #1500ff;
            }

        }

        .dino{
            height: 20%;
            width: 15%;
            background-image: url("../images/dino.png");
            background-repeat: no-repeat;
            background-size: contain;
            transform: scale(1.3);
            position: relative;
            left: 300px;
            top: 80%;
            margin: 0;
        }

        .bomb{
            height: 20%;
            width: 15%;
            background-image: url("../images/dynamite.png");
            top: 70%;
            transform: rotate(34deg) scale(1.3);
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            left: 80%;
            margin: 0;
        }
    }

    
    .play-game-component{
        border: 1px solid white;
        border-color: white;
        border-width: thick;
        overflow: hidden;
        background-image: url("../images/planet.jpg");
        background-size: cover;
        height: 510px;
        width: 1090px;
        border-radius: 10px;
        margin: auto;
      
        box-shadow:2px 2px 2px #1500ff, 1px 1px 44px #1500ff;
        animation: animate $bgspeed linear infinite;
        .start-game{
            display: none;
        }


        .dino{
            height: 20%;
            width: 15%;
            background-image: url("../images/dino.gif");
            background-repeat: no-repeat;
            background-size: contain;
            transform: scale(1.3);
            position: relative;
            left: 300px;
            top: 80%;
            margin: 0;
        }
        .jump-animation{

            animation: jump $jumpspeed;
        }

        .bomb{
            height: 20%;
            width: 15%;
            background-image: url("../images/dynamite.gif");
            background-repeat: no-repeat;
            background-size: contain;
            top: 70%;
            transform: rotate(34deg) scale(1.3);
            position: relative;
            left: 100%;
            margin: 0;
            animation: move $bombspeed infinite linear;
        }
    }
}
@keyframes move{
    0%{
        left: 100%;
    }
    100%{
        left: -10%;
    }
}

@keyframes animate{
    0%{
        background-position: 0px;
    }

    100%{
        background-position: -670800000000px;
    }
}
@keyframes jump{
    0%{
        top: 80%;
        background-image: url("../images/jump.gif");
        transform: scale(1.7);
    }

    30%{
        top: 60%;
        background-image: url("../images/jump.gif");
        transform: scale(1.7);
    }
    50%{
        top: 40%;
        background-image: url("../images/jump.gif");
        transform: scale(1.7);
    }
    80%{
        top: 60%;
        background-image: url("../images/jump.gif");
        transform: scale(1.7);
    }
    100%{
        top: 80%;

    }
}



// FOOTER

.footer{
    
    width: 350px;
    text-align: center;
    position: absolute;
    bottom: -59px;

    .links{
        height: 100%;
        width: 100%;

        .github{
            height: 50px;
            padding-right: 5px;
            -webkit-filter: drop-shadow(1px 1px 0px #1500ff);
            filter:         drop-shadow(1px 1px 0px #1500ff); 
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }

        .angel{
            height: 50px;
            padding-right: 5px;
            -webkit-filter: drop-shadow(1px 1px 0px #1500ff);
            filter:         drop-shadow(1px 1px 0px #1500ff); 
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }

        .linked{
            height: 50px;
            padding-right: 5px;
            -webkit-filter: drop-shadow(1px 1px 0px #1500ff);
            filter:         drop-shadow(1px 1px 0px #1500ff); 
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
  
            }
        }
    
    }
}